openapi: "3.0.1"
info:
  title: Gravitate Health Focusing API Interface
  version: MVP2
  description: Gravitate Health focusing. Preprocessing and lens selection
  contact: {}
servers:
  - url: https://fosps.gravitatehealth.eu
paths:
  /focusing/preprocessing:
    get:
      tags:
        - Preprocessing
      description: Lists all available preprocessors.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreprocessingList"
  /focusing/preprocessing/{epiId}:
    post:
      tags:
        - Preprocessing
      description: >
        Executes preprocessing on an ePI, adding semantic annotation to the ePI's leaflet sections.
        
        **FHIR Format Support:**
        
        Request body supports multiple FHIR formats via Content-Type header:
        - application/fhir+json (default)
        - application/fhir+xml
        - application/fhir+turtle (fully supported via N3.js)
        - text/n3 (fully supported via N3.js)
        
        Desired response "Content-Type" (JSON or HTML) must be sent in the "Accept" header.
      parameters:
        - $ref: "#/components/parameters/epiId"
        - $ref: "#/components/parameters/preprocessorsList"
      responses:
        "200":
          $ref: "#/components/responses/200focus"
        "422":
          $ref: "#/components/responses/422InvalidData"
  /focusing/lenses:
    get:
      tags:
        - Lenses
      description: Lists all available lenses.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LensesList"
  /focusing/focus/{epiId}:
    post:
      tags:
        - Lenses
      description: >
        Preprocesses and focuses an ePI based on a Patient's IPS.
        The epiId must exist, and you can specify the Patient's IPS in 2 ways:
        
          1. Writing the patientId on query param.
          2. Passing all the IPS JSON Document through the request's body.

        Optionally, you can specify a PersonaVector in 2 ways:
        
          1. Writing the personaVectorId on query param.
          2. Passing all the PersonaVector JSON Document through the request's body (pv field).

        **FHIR Format Support:**
        
        Request body supports multiple FHIR formats:
        - JSON body (backward compatible): application/fhir+json or application/json
        - Multipart/form-data (new in v1.38.0): Send resources in different formats
        
        **Multipart Benefits:**
        - Send ePI and IPS in different formats (e.g., XML ePI + JSON IPS)
        - Clearer separation of resources
        - Support for hybrid format combinations
        
        Desired response "Content-Type" (JSON or HTML) must be sent in the "Accept" header.
        The response contains the ePI with HTML tags and the following CSS classes: "highlight", "collapse".
        "Highlight" CSS class is used to remark information. It has precedence over the collapse class.
        "Collapse" CSS class is used to hide information.
      requestBody:
        description: IPS resource - can be JSON body or multipart field
        content:
          application/fhir+json:
            schema:
              $ref: "#/components/schemas/ipsFocusing"
          application/json:
            schema:
              $ref: "#/components/schemas/ipsFocusing"
          multipart/form-data:
            schema:
              type: object
              properties:
                ips:
                  type: string
                  format: binary
                  description: "IPS resource in any FHIR format (JSON, XML, Turtle)"
                pv:
                  type: string
                  format: binary
                  description: "Optional PersonaVector resource in any FHIR format"
            encoding:
              ips:
                contentType: application/fhir+json, application/fhir+xml, text/turtle, text/n3
              pv:
                contentType: application/fhir+json, application/fhir+xml, text/turtle, text/n3
      parameters:
        - $ref: "#/components/parameters/epiId"
        - $ref: "#/components/parameters/preprocessorsList"
        - $ref: "#/components/parameters/lensesList"
        - $ref: "#/components/parameters/patientIdentifierquery"
        - $ref: "#/components/parameters/personaVectorIdquery"
      responses:
        "200":
          $ref: "#/components/responses/200focus"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "422":
          $ref: "#/components/responses/422InvalidData"
  /focusing/focus:
    post:
      tags:
        - Lenses
      description: >
        Preprocesses and focuses an ePI based on a Patients's IPS.
        You must introduce the full ePI JSON Document on the request's body, and you can specify the Patient's IPS in 2 ways:

          1. Writing the patientId on query param.
          2. Passing all the IPS JSON Document through the request's body.
        Optionally, you can specify a PersonaVector in 2 ways:
        
          1. Writing the personaVectorId on query param.
          2. Passing all the PersonaVector JSON Document through the request's body (pv field).
        
        **FHIR Format Support:**
        
        Request body supports multiple FHIR formats:
        - JSON body (backward compatible): Send { epi, ips, pv } as JSON
        - Multipart/form-data (new in v1.38.0): Send resources in different formats
        
        **Multipart Benefits:**
        - Send ePI, IPS, and PV in different formats (e.g., XML ePI + JSON IPS)
        - Mix formats in single request (e.g., Turtle ePI + JSON IPS)
        - Clearer resource separation and hybrid format support
        
        Desired response "Content-Type" (JSON or HTML) must be sent in the "Accept" header.
        The response contains the ePI with HTML tags and the following CSS classes: "highlight", "collapse".
        "Highlight" CSS class is used to remark information. It has precedence over the collapse class.
        "Collapse" CSS class is used to hide information.
      requestBody:
        description: Resources can be sent as JSON body (backward compatible) or multipart/form-data (supports mixed formats)
        content:
          application/fhir+json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/bodyWithIPSandEPI"
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/bodyWithIPSandEPI"
          multipart/form-data:
            schema:
              type: object
              properties:
                epi:
                  type: string
                  format: binary
                  description: "ePI resource in any FHIR format (JSON, XML, Turtle, N3)"
                ips:
                  type: string
                  format: binary
                  description: "IPS resource in any FHIR format (JSON, XML, Turtle, N3)"
                pv:
                  type: string
                  format: binary
                  description: "Optional PersonaVector resource in any FHIR format"
              required:
                - epi
            encoding:
              epi:
                contentType: application/fhir+json, application/fhir+xml, text/turtle, text/n3
              ips:
                contentType: application/fhir+json, application/fhir+xml, text/turtle, text/n3
              pv:
                contentType: application/fhir+json, application/fhir+xml, text/turtle, text/n3
      parameters:
        - $ref: "#/components/parameters/preprocessorsList"
        - $ref: "#/components/parameters/lensesList"
        - $ref: "#/components/parameters/patientIdentifierquery"
        - $ref: "#/components/parameters/personaVectorIdquery"
      responses:
        "200":
          $ref: "#/components/responses/200focus"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "422":
          $ref: "#/components/responses/422InvalidData"

components:
  schemas:
    bodyWithIPSandEPI:
      type: object
      description: >
        Body supports multiple FHIR formats. Use appropriate Content-Type header:
        - application/fhir+json or application/json for JSON (default)
        - application/fhir+xml or application/xml for XML
        - application/fhir+turtle or text/turtle for RDF Turtle (experimental)
        - text/n3 for RDF N3 (experimental)
        
        When using JSON format, structure the body with epi, ips, and/or pv fields.
        When using XML or RDF formats, send the raw FHIR document directly.
      properties:
        epi:
          type: string
          example: Full ePI JSON Document should be inside this parameter
        ips:
          type: string
          example: Full IPS JSON Document should be inside this parameter
        pv:
          type: string
          example: Full PersonaVector JSON Document should be inside this parameter
    PreprocessingList:
      type: object
      properties:
        preprocessors:
          type: array
          items:
            type: string
          example: ["preprocessor1", "preprocessor2", "preprocessor3"]
    LensesList:
      type: object
      properties:
        lenses:
          type: array
          items:
            type: string
          example: ["lense-name1", "lense-name2", "lense-name3"]
    ipsFocusing:
      type: object
      properties:
        ips:
          type: object
          example: Full IPS JSON Document should be inside this parameter
    ePI-html:
      type: string
      example: "<html> ePI in HTML format </html>"
    ePI-json:
      type: object
  parameters:
    epiId:
      in: path
      name: epiId
      description: ePI id to preprocess.
      required: true
      schema:
        type: string
    patientIdentifierquery:
      in: query
      name: patientIdentifier
      description: Patient identifier, that is required only if you dont't specify a full IPS JSON Document on request's body.
      required: false
      schema:
        type: string
    personaVectorIdquery:
      in: query
      name: personaVectorId
      description: PersonaVector identifier. Optional - use only if you don't specify a full PersonaVector JSON Document on request's body (pv field).
      required: false
      schema:
        type: string
    preprocessorsList:
      in: query
      name: preprocessors
      description: List of preprocessors to be executed on the ePI. If parameter is absent, all preprocessors will be executed.
      required: false
      schema:
        type: array
        items:
          type: string
    lensesList:
      in: query
      name: lenses
      description: List of lenses to be applied.
      required: false
      schema:
        type: array
        items:
          type: string
    responseContentType:
      in: query
      name: responseContentType
      description: Select response format in JSON or HTML.
      required: true
      schema:
        type: string
        enum: [html, json]

  responses:
    200focus:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ePI-json"
        text/html:
          schema:
            $ref: "#/components/schemas/ePI-html"
    422InvalidData:
      description: Invalid Data
      content:
        application/json:
          schema:
            type: object
            properties:
              messsage:
                type: string
                default: "Given data is invalid"
              reason:
                type: string
                default: "Reason"
    400BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                default: "Bad request"
              reason:
                type: string
                default: "Reason"
