name: CI CD

on:
  push:

jobs:
  build:
    uses: Gravitate-Health/reusable-workflows/.github/workflows/main.yml@main
    secrets: inherit  # Pass secrets from calling workflow
    permissions:
      contents: read
      packages: write
